.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 90vh;
  gap: 20px;
  flex-direction: column;
}

.container h3 {
  font-weight: 400;
  color: var(--inc-900);
  text-align: center;
  margin-bottom: 10px;
}

.inputBox {
  border-radius: 6px;
  border: 1px solid var(--button-border);
  min-width: 30%;
  padding: 12px;
  font-size: 16px;
  background-color: var(--white);
  display: flex;
  gap: 10px;
  align-items: center;
}

.inputBox:focus-within {
  border-color: blue;
}

.inputBox input {
  all: unset;
  flex: 1;
  background-color: transparent;
  border: none;
  font-size: 20px;
  padding: 0 10px;
}

.inputBox img {
  height: 20px;
  width: 20px;
}

.categoryContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  gap: 12px;
}
