.navbarContainer {
  position: sticky;
  z-index: 1;
  top: 0px;
  max-width: 100%;
  background-color: var(--page-base);
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btnContainer {
  display: flex;
  gap: 30px;
}
.loginContainer {
  display: flex;
  gap: 10px;
}

a {
  all: unset;
  cursor: pointer;
}

.active {
  color: var(--inc-900);
}
