.table-container {
  width: 100%;
  overflow-x: auto;
}

.striped-table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.striped-table th,
.striped-table td {
  font-size: 12px;
  color: var(--grey);
  padding: 10px;
}

.striped-table th {
  background-color: var(--white); /* Header background color */
}

.striped-table tbody tr:nth-child(odd) {
  background-color: var(--stripes); /* Stripe color for even rows */
}

.left-cell {
  text-align: left; /* Align the left-side cells to the left */
}

.expand-icon {
  color: #007bff; /* Blue color for the plus icon */
}

/* Add styles for expanded rows */
.striped-table .expanded {
  background-color: transparent; /* Remove background color for expanded rows */
}
